<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Table 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/style/documentTable.css}">

</head>
<body>
<section class="ftco-section">
    <div class="col-12">
        <div class="row">
            <div class="col-md-12" >
                <div class="table-wrap">
                    <table class="table table-striped">
                        <thead>
                        <tr class="topline">
                            <th>Id</th>
                            <th>Branch</th>
                            <th>Card number</th>
                            <th>Exp date</th>
                            <th th:if="${user.getRole().toString()!='USER'}">Operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="card:${cards}">
                            <td scope="row" th:text="${card.getId()}"></td>
                            <td >
                                <a style="font-size: 14px" class="text-info" th:text="${card.getBranch()}"></a>
                            </td>
                            <td >
                                <h6 style="color: darkblue;font-size: 16px" th:text="${card.getCardNumber()}"></h6>
                            </td>

                            <td >

                                    <label style="color: green;font-size: 14px" th:text="${card.getExpiryDate().substring(0,2)+' / '+card.getExpiryDate().substring(2,4)}"></label>
                            </td>


                            <td th:if="${user.getRole().toString()!='USER'}">
                                <a th:if="${user.getRole().toString()!='USER'}" th:href="'/document/edite/'+${card.getId()}" class="btn btn-info">EDITE</a>

                                <a th:if="${user.getRole().toString()!='USER'}" th:href="'/document/delete/'+${card.getId()}" class="btn btn-danger">DELETE</a>

                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="counter"  >

<!--                        <a th:each="i:${#numbers.sequence(1,count)}" th:href="'/document/?page='+${i}"  th:style="${page==i} ?  'color: red' : '' " th:text="${i+'  '}"></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>

