<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link th:href="@{/style/home.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="wrapper">
    <div class="section">
        <div class="top_navbar">
            <div class="hamburger">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            <div class="logout">
                <a th:href="@{/logOut}">
                    <i class="fa fa-sign-out">Sign out</i>
                </a>
            </div>
        </div>

        <!-- Asosiy code qism -->


        <!-- Asosiy code qism tugashi  -->


    </div>
    <div class="sidebar">
        <div class="profile">
            <div>
<!--                                <img th:src="'/user/avatar/'+${user.getAvatar().getId()}" alt="profile_picture">-->
                <img src="/images/AgroBank_mini.png" alt="avatar" />
<!--                <img src="https://yt3.googleusercontent.com/ng-7exPku1wLi11zl-x2_Ps05p8XbYvhEEx-aSrz_BouxrvSsUTQTpFgozr9avGfoZZr0QaAoQ=s900-c-k-c0x00ffffff-no-rj"-->
<!--                     alt="profile_picture">-->

            </div>
            <h3>
                <small th:text="${user.getFirstName()}"></small>
            </h3>
            <h4>
                <small th:text="${user.getRole().name()}"></small>
            </h4>
        </div>
        <ul>
            <li>
                <a href="/" class="active">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="item">Home</span>
                </a>
            </li>
            <li>
                <a href="#" class="active">
                    <span class="icon"><i class="fas fa-play"></i></span>
                    <span class="item">Start Avtopog Uzcard</span>
                </a>
            </li>
            <li>
                <a th:if="${user.getRole().name()=='ADMIN' || user.getRole().name()=='BOSS'}" href="/statistic/all">
                    <span class="icon"><i class="fas fa-play"></i></span>
                    <span class="item">Start Avtopog HUMO</span>
                </a>
            </li>
            <li>
                <a href="/addCard">
                    <span class="icon"><i class="fas fa-plus-circle"></i></span>
                    <span class="item">Add new Card</span>
                </a>
                <a href="/deleteCard"
                   th:if="${user.getRole().name()=='ADMIN' || user.getRole().name()=='BOSS'}">
                    <span class="icon"><i class="far fa-trash-alt"></i></span>
                    <span class="item">Delete Card</span>
                </a>
            </li>
            <li th:if="${user.getRole().name()=='ADMIN' || user.getRole().name()=='BOSS'}">
                <a href="#">
                    <span class="icon"><i class="fas fa-money-check"></i></span>
                    <span class="item">Check Card</span>
                </a>
            </li>
            <li th:if="${user.getRole().name()=='ADMIN' || user.getRole().name()=='BOSS'}">
                <a href="#">
                    <span class="icon"><i class="fas fa-chart-line"></i></span>
                    <span class="item">Statistic of UzCard</span>
                </a>
            </li>

            <li>
                <a href="#"
                   th:if="${user.getRole().name()=='ADMIN' || user.getRole().name()=='BOSS'}">
                    <span class="icon"><i class="fas fa-chart-line"></i></span>
                    <span class="item">Statistic of HUMO</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-phone"></i></span>
                    <span class="item">Contact</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-cog"></i></span>
                    <span class="item">Settings</span>
                </a>
            </li>
        </ul>
    </div>

</div>
<script>
    var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", function () {
        document.querySelector("body").classList.toggle("active");
    })
</script>
</body>
</html>