<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/6d7c436d02.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <script th:src="@{/js/homeStatistic.js}"></script>
    <link rel="stylesheet" th:href="@{/style/homeStatistic.css}"/>
    <title>Home</title>

</head>
<body>
<div id="preloader">
</div>
<div class="menu-bar">
    <h1 class="logo">Agro<span>bank.</span></h1>
    <ul>
        <li><a href="/"><i class="fa-solid fa-house"></i>&nbsp;Home</a></li>
        <li><a href="/statistic/home"><i class="fa-solid fa-chart-line"></i>&nbsp;Statistic</a></li>

        <!--        <li><a href="#">Statistic <i class="fas fa-caret-down"></i></a>-->

        <!--            <div class="dropdown-menu">-->
        <!--                <ul>-->
        <!--                    <li><a href="/statistic/operation">Optional</a></li>-->
        <!--                    <li><a href="/statistic/month">Shu oy</a></li>-->
        <!--                    <li><a href="/statistic/year">Shu yil</a></li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--        </li>-->

        <li><a href="#">&nbsp;Pages <i class="fas fa-caret-down"></i></a>

            <div class="dropdown-menu">
                <ul>
                    <li th:if="${user.getRole().name()=='ADMIN'}">
                        <a href="/avtoPog/start"><i class="fa-solid fa-play"></i>&nbsp;AvtoPog </a>

                    </li>
                    <li th:if="${user.getRole().name()=='ADMIN'}">
                        <a href="#"><i class="fa-sharp fa-regular fa-address-card"></i>&nbsp;User <i
                                class="fas fa-caret-right"></i></a>

                        <div class="dropdown-menu-1">
                            <ul>
                                <li><a href="/user/add"> <i class="fa-solid fa-plus"></i>&nbsp;Add user</a></li>
                                <li><a href="/user/all"><i class="fa-solid fa-users"></i>&nbsp;Users</a></li>

                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa-regular fa-credit-card"></i>&nbsp;Card <i
                                class="fas fa-caret-right"></i></a>

                        <div class="dropdown-menu-1">
                            <ul>
                                <li><a href="/card/add"> <i class="fa-solid fa-plus"></i>&nbsp;Add</a></li>
                                <li><a href="/card/operation"><i class="fa-solid fa-sliders"></i>&nbsp;Operation</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </li>
        <li><a href="/contact/us"><i class="fa-solid fa-address-book"></i>&nbsp;Contact us</a></li>
        <li><a href="#"><i class="fa-regular fa-user"></i>&nbsp;Profile <i class="fas fa-caret-down"></i></a>

            <div class="dropdown-menu">
                <ul>
                    <li><a href="/user/profile">My profile</a></li>
                    <li><a href="/logOut">Logout&nbsp;<i class="fa-solid fa-right-from-bracket"></i></a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<div class="hero">
    <div id="div1">
        <input id="fewMonthHumo" style="display: none" th:value="${fewMonthHumo}">
        <input id="fewMonthUzCard" style="display: none" th:value="${fewMonthUzCard}">
        <div id="chartMonthly" style="height: 98%; width: 98%;"></div>
      </div>
      <div id="div2">
          <input id="MQ" style="display: none" th:value="${MQ}">
          <div id="chartMQ" style="height: 98%; width: 98%;"></div>
      </div>
      <div id="div3">
          <input id="uzCard" style="display: none" th:value="${uzCard}">
          <input id="humo" style="display: none" th:value="${humo}">
          <div id="chartDaily" style="height: 98%; width: 100%;"></div>

      </div>
<!--      <div id="div4">-->
<!--      </div>-->
</div>
<script>
    var loader = document.getElementById("preloader");
    window.addEventListener("load", function () {
        loader.style.display = "none";
    })
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>