<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/6d7c436d02.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/style/navbarIndex.css}"/>
    <title>Index</title>
</head>
<body>
<div id="preloader"></div>
<div class="menu-bar">
    <h1 class="logo">Agro<span>bank.</span></h1>
    <ul>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</div>

<div class="hero">


</div>
<script>
    var loader=document.getElementById("preloader");
    window.addEventListener("load",function (){
        loader.style.display="none";
    })
</script>
</body>
</html>