<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/6d7c436d02.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/style/navbarHome.css}"/>
    <title>dropdown Menu</title>
</head>
<body>
<div class="menu-bar">
    <h1 class="logo">Agro<span>bank.</span></h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Pages <i class="fas fa-caret-down"></i></a>

            <div class="dropdown-menu">
                <ul>
                    <li th:if="${user.getRole().name()=='ADMIN'}">
                        <a href="#"><i class="fa-sharp fa-regular fa-address-card"></i>&nbsp;User <i
                                class="fas fa-caret-right"></i></a>

                        <div class="dropdown-menu-1">
                            <ul>
                                <li><a href="/user/add"> <i class="fa-solid fa-plus"></i>&nbsp;Add user</a></li>
                                <li><a href="/user/all"><i class="fa-solid fa-users"></i>&nbsp;Users</a></li>

                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa-sharp fa-regular fa-address-card"></i>&nbsp;Card <i
                                class="fas fa-caret-right"></i></a>

                        <div class="dropdown-menu-1">
                            <ul>
                                <li><a href="/addCard"> <i class="fa-solid fa-plus"></i>&nbsp;Add</a></li>
                                <li><a href="/operation"><i class="fa-solid fa-sliders"></i>&nbsp;Operation</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-play"></i>&nbsp;AvtoPog <i class="fas fa-caret-right"></i></a>

                        <div class="dropdown-menu-1">
                            <ul>
                                <li><a href="#">UzCard</a></li>
                                <li><a href="#">Humo</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="/contact/us">Contact us</a></li>
        <li><a href="#">Profile <i class="fas fa-caret-down"></i></a>

            <div class="dropdown-menu">
                <ul>
                    <li><a href="/user/profile">My profile</a></li>
                    <li><a href="/logOut">Logout</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<div class="hero">


</div>
</body>
</html>