<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/6d7c436d02.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/style/navbar.css}"/>
    <title>Users table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/style/usersTable.css}">
</head>
<body>
<div class="menu-bar">
    <h1 class="logo">Agro<span>bank.</span></h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Pages <i class="fas fa-caret-down"></i></a>

            <div class="dropdown-menu">
                <ul>
                    <li>
                        <a href="#"><i class="fa-sharp fa-regular fa-address-card"></i>&nbsp;Admin <i
                                class="fas fa-caret-right"></i></a>

                        <div class="dropdown-menu-1">
                            <ul>
                                <li><a href="/user/add"> <i class="fa-solid fa-plus"></i>&nbsp;Add user</a></li>
                                <li><a href="/user/all"><i class="fa-solid fa-users"></i>&nbsp;Users</a></li>

                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa-sharp fa-regular fa-address-card"></i>&nbsp;Card <i
                                class="fas fa-caret-right"></i></a>

                        <div class="dropdown-menu-1">
                            <ul>
                                <li><a href="/addCard"> <i class="fa-solid fa-plus"></i>&nbsp;Add</a></li>
                                <li><a href="/operation"><i class="fa-solid fa-sliders"></i>&nbsp;Operation</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-play"></i>&nbsp;AvtoPog <i class="fas fa-caret-right"></i></a>

                        <div class="dropdown-menu-1">
                            <ul>
                                <li><a href="#">UzCard</a></li>
                                <li><a href="#">Humo</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Profile <i class="fas fa-caret-down"></i></a>

            <div class="dropdown-menu">
                <ul>
                    <li><a href="/user/profile">My profile</a></li>
                    <li><a href="/logOut">Logout</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div class="hero">

    <section class="ftco-section">
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">

                    <div class="table-wrap">
                        <table class="table table-striped">
                            <form th:action="@{'/user/all?name='+ ${search.getName()}+'&page='+${page}}" method="GET"
                                  th:object="${search}">
                                <div class="col-5">
                                    <div>
                                        <label class="label">UserName</label>
                                        <input class="input--style-4" type="text" th:field="*{name}" value="">
                                        <button class="submit" type="submit">Submit</button>
                                    </div>
                                </div>

                            </form>
                            <thead>
                            <tr class="topline">
                                <th>Id</th>
                                <th>Full name</th>
                                <th>Username</th>
                                <th>Phone</th>
                                <th>Role</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="u:${users}">
                                <td scope="row" class="text-danger" th:text="${u.getId()}"></td>
                                <td class="text-info" th:text="${u.getFirstName()}"></td>
                                <td th:text="${u.getUsername()}"></td>
                                <td th:text="${u.getPhone()}"></td>
                                <td>
                                    <a th:if="${u.getRole().name()=='ADMIN'}" style="color: red"
                                       th:text="${u.getRole().name()}"></a>
                                    <a th:if="${u.getRole().name()=='USER'}" style="color: blue"
                                       th:text="${u.getRole().name()}"></a>
                                </td>
                                <td th:if="${u.getActive()}">
                                    <button class="btn btn-success ">Active</button>
                                    <a th:href="'/user/edite/'+${u.getId()}" class="btn btn-primary">Edite</a>
                                </td>
                                <td th:if="${!u.getActive()}">
                                    <button class="btn btn-danger ">Passive</button>
                                    <a th:href="'/user/edite/'+${u.getId()}" class="btn btn-primary">Edite</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="counter">
                            <a th:each="i:${#numbers.sequence(1,count)}"
                               th:href="'/user/all/?page='+${i}+'&name='+${search.getName()}" th:text="${i+'  '}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>


</div>
</body>
</html>